h1{color:red;
	font-size: 80px;
	text-align: center;
	text-decoration:underline;
    }
 h2{color: red;
 	text-align: 70px;
 	text-decoration: underline;
 }
h3{color:red;
	text-align: 60px;
}

p{font-size: 30px;
	color:white;
    }

body{background-color: black;
    }
body{font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}
